.cart-icon-container{
    position: relative;

}

.cart-number{
    height: 1.2rem;
    width: 1.2rem;
    font-size: .6rem;
    background-color: #F5CAC3;
    color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -1.2rem;
    top: -.5rem;
}