.checkout{
    button {
        border: 0;
        background-color: #ffeccd;
        width: 100%;
        border-radius: 50px;
        padding: 1rem 5rem;
        transition: background-color 200ms;
        cursor: pointer;

    &:hover{
        background-color: #fde3b8;
    }
    }

}

