.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto 2rem auto;
    padding: 1rem 0;

    img {
        width: 10rem;
    }
    a{
        text-decoration: none;
        color: rgb(47, 47, 49);
    }

}

ul{
    list-style-type: none;
    display: flex;

    li{
        padding: .5rem 1rem;
        border-radius: 50px;
        transition: background-color 300ms ease;
        margin: 0 1rem;
        text-align: center;

    }

}

li:nth-child(1):hover{
    background-color: #ffeccd;

}

li:nth-child(2):hover{
    background-color: #f0c4bc;

}
li:nth-child(3):hover{
    background-color: #b9e4d8;

}