.item-counter {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 2rem;
        height: 2rem;
        background-color: #F5CAC3;
        border: 0px;
        border-radius: 50px;
        margin: 0 1rem;
        cursor: pointer;
        transition: background-color 200ms;

        &:hover {
            background-color: #f8b9b0;
        }
    }

}

